# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
env/
.venv/

# Flask / environment
.env
.env.local

# Database
*.sqlite3
veritabani.db

# Migrations cache
migrations/__pycache__/

# IDE / Editor
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db
